.contenedor1 {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    margin-top: -1%;
}

.contenedor2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 10px;
    height: 51%;
}
.iframe {

    width: 750px;
    height: 730px;
    position: fixed;
    top: 1%;
    bottom: 1%;
    left: 5%; 
}
table {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
}

td {
    font-size: 19px;
}

select {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.my-background {
    background-image: url('../img/edificio.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

.div_gris_info {
    background-color: rgb(93, 93, 93);
    width: 500px;
    height: 700px;
    border-radius: 40px;
    position: fixed;
    top: 5%;
    bottom: 1%;
    left: 63%;    
}
.h1_centrada {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boton_inicio {
    background-color: rgb(237, 3, 3);
    height: 50px;
    width: 200px;
    border-radius: 40px;
    margin-left: 57%;
    margin-top: 40%;
}

.boton_descargar_elementos {
    background-color: #0f69b4(36, 54, 255);
    height: 100px;
    width: 250px;
    font-size: 20px;
    border-radius: 40px;
    display: block;
    margin-top: 20%;
    margin-left: 26%;
    
    
    
}
